$mainColor: rgba(255, 255, 255, 0.6);
$shadowColor: rgba(0,0,0,0.25);

*{
    margin:0;
    padding: 0;
    //box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Dia-ensolarado.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1920;
    height: 1080;
    transform: scale(0.67);
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -700px;
    .mainDay{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $mainColor;
        width: 940px;
        height: 227px;
        margin: 0px 0px 16px 0px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px $shadowColor;
        .leftRow{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0px 0px 0px 12px;
            .maxMin{
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 25px;
                .maxMainDegree{
                    color: #C87C22;
                }
                .minMainDegree{
                    color: #004C6D;
                }
            }
            .mainDegree{
                font-size: 100px;
            }
        }
        .middleRow{
            display: flex;
            flex-direction: column;
            align-items: center;
            .diaMain{
                font-size: 25px;
            }
            .city{
                font-size: 20px;
            }
            .hours{
                font-size: 120px;
            }
        }
        .rightRow{
            width: 157px;
            height: 157px;
            margin: 0px 34px 0px 0px;
        }   
    }
    .weatherGadgets{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .gadget1,.gadget2,.gadget3,.gadget4{
            display: grid;
            grid-template: 1fr / 1fr;
            place-items: center;
            margin: 15px 8px 23px 8px;
            padding: 16px 40px 16px 40px;
            background-color: $mainColor;
            box-shadow: 0px 4px 4px $shadowColor;
            border-radius: 50px;
            *{
                grid-column: 1/1;
                grid-row: 1/1;  
            }
            .gadgetIcon{
                width: 55px;
                height: auto;
                z-index: 1;  
            }
            .gadgetText{
                font-size: 24px;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
                z-index: 2;
            }
        &:hover{
            
            .gadgetIcon{
                opacity: 0;
            }
            .gadgetText{
                opacity: 1;
            }
        }
        }
    }
    .dayCard{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $mainColor;
        box-shadow: 0px 4px 4px $shadowColor;
        width: 669px;
        height: 115px;
        margin: 8px 0px 8px 0px;
        padding: 14px 35px 14px 35px;
        border-radius: 50px;
        .dateAndDegrees{
            display: flex;
            flex-direction: column;
            align-items: center;
            .date{
                font-size: 20px;
            }
            .maxAndMin{
                display: flex;
                flex-direction: row;
                font-size: 60px;
            }
        }
        .precipitationAndWIcon{
            display: flex;
            flex-direction: row;
            align-items: center;
            .precipitation{
                display: flex;
                flex-direction: column;
                align-items: center;
            .percent{
                font-size: 20px;
            }
            .precipitationIcon{
                width: 33px;
                height: auto;
            }
        }
        .weatherIcon{
            width: 87px;
            height: auto;
            flex: 1;
        }
        }
        
    }
}

