* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Dia-ensolarado.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 1920;
  height: 1080;
  transform: scale(0.67);
}
body .logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  align-content: center;
  width: 360px;
  height: 227px;
  margin-top: -82px;
  margin-left: -112%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
body .logo .logoImage {
  width: 220px;
  height: 220px;
  margin-bottom: 0px;
  margin-top: -15px;
}
body .logo .logoText {
  font-size: 25px;
  font-weight: bold;
  margin-top: -33px;
}
body .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -700px;
}
body .app .mainDay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 940px;
  height: 227px;
  margin: 0px 0px 16px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 16px;
}
body .app .mainDay .leftRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 0px 12px;
}
body .app .mainDay .leftRow .maxMin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
}
body .app .mainDay .leftRow .maxMin .maxMainDegree {
  color: #C87C22;
}
body .app .mainDay .leftRow .maxMin .minMainDegree {
  color: #004C6D;
}
body .app .mainDay .leftRow .mainDegree {
  font-size: 100px;
}
body .app .mainDay .middleRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /*    
  .city[type="text"]{
  display: flex;
  align-items: center;
  border: none;
  height: 25px;
  width: 66%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-color: $mainColor;
  box-shadow: 0px 4px 4px 0px $shadowColor;
  font-size: large;
  text-align: center;
  }
  */
}
body .app .mainDay .middleRow .diaMain {
  font-size: 25px;
  height: 20%;
}
body .app .mainDay .middleRow .search {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: black;
  width: 110%;
  height: 25%;
  border-radius: 30px 30px 30px 30px;
}
body .app .mainDay .middleRow .search .iconButton {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-left: 10px;
}
body .app .mainDay .middleRow .search .iconButton .imageIcon {
  width: 50%;
  height: 70%;
}
body .app .mainDay .middleRow .search .TextCity {
  height: 100%;
  width: 85%;
  position: relative;
}
body .app .mainDay .middleRow .search .TextCity .city {
  position: absolute;
  height: 90%;
  width: 100%;
  border-radius: 0px 30px 30px 0px;
  font-size: 20px;
}
body .app .mainDay .middleRow .search .TextCity .city .city[type=text] {
  opacity: 0;
}
body .app .mainDay .middleRow .search .TextCity .adress {
  font-size: 20px;
  position: absolute;
  align-items: center;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
body .app .mainDay .hours {
  font-size: 120px;
  height: 66%;
}
body .app .rightRow {
  width: 157px;
  height: 157px;
  margin: 0px 34px 0px 0px;
}
body .weatherGadgets {
  display: flex;
  width: 77%;
  flex-direction: row;
  justify-content: center;
}
body .weatherGadgets .gadget1, body .weatherGadgets .gadget2, body .weatherGadgets .gadget3, body .weatherGadgets .gadget4 {
  display: grid;
  width: 25%;
  grid-template: 1fr/1fr;
  place-items: center;
  margin: 15px 8px 23px 8px;
  padding: 16px 40px 16px 40px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
body .weatherGadgets .gadget1 *, body .weatherGadgets .gadget2 *, body .weatherGadgets .gadget3 *, body .weatherGadgets .gadget4 * {
  grid-column: 1/1;
  grid-row: 1/1;
}
body .weatherGadgets .gadget1 .gadgetIcon, body .weatherGadgets .gadget2 .gadgetIcon, body .weatherGadgets .gadget3 .gadgetIcon, body .weatherGadgets .gadget4 .gadgetIcon {
  width: 55px;
  height: auto;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}
body .weatherGadgets .gadget1 .gadgetText, body .weatherGadgets .gadget2 .gadgetText, body .weatherGadgets .gadget3 .gadgetText, body .weatherGadgets .gadget4 .gadgetText {
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  z-index: 2;
}
body .weatherGadgets .gadget1:hover .gadgetIcon, body .weatherGadgets .gadget2:hover .gadgetIcon, body .weatherGadgets .gadget3:hover .gadgetIcon, body .weatherGadgets .gadget4:hover .gadgetIcon {
  opacity: 0;
}
body .weatherGadgets .gadget1:hover .gadgetText, body .weatherGadgets .gadget2:hover .gadgetText, body .weatherGadgets .gadget3:hover .gadgetText, body .weatherGadgets .gadget4:hover .gadgetText {
  opacity: 1;
}
body .dayCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 669px;
  height: 115px;
  margin: 8px 0px 8px 0px;
  padding: 14px 35px 14px 35px;
  border-radius: 50px;
}
body .dayCard .dateAndDegrees {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .dayCard .dateAndDegrees .date {
  font-size: 20px;
  font-weight: bold;
}
body .dayCard .dateAndDegrees .maxAndMin {
  display: flex;
  flex-direction: row;
  font-size: 75px;
}
body .dayCard .dateAndDegrees .maxAndMin .trace {
  margin-left: 18px;
  margin-right: 18px;
}
body .dayCard .precipitationAndWIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .dayCard .precipitationAndWIcon .precipitation {
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
}
body .dayCard .precipitationAndWIcon .precipitation .percent {
  font-size: 20px;
  font-weight: bolder;
}
body .dayCard .precipitationAndWIcon .precipitation .precipitationIcon {
  width: 33px;
  height: auto;
}
body .dayCard .precipitationAndWIcon .weatherIcon {
  width: 87px;
  height: auto;
  flex: 1;
}/*# sourceMappingURL=style.css.map */